beautifulsoup4==4.12.3
g4f==0.4.1.0
neuralprophet==0.9.0
numpy==2.2.1
pandas==2.2.3
plotly==5.24.1
pmdarima==2.0.4
Requests==2.32.3
scikit_learn==1.6.1
streamlit==1.41.1
tensorflow==2.18.0
tensorflow_intel==2.18.0
textblob==0.18.0.post0
yfinance==0.2.51
